<div id="page-wraper">
  <!-- Sidebar Menu -->
  <div class="responsive-nav">
    <i
      class="fa fa-bars"
      id="menu-toggle"
      #menuToggle
      (click)="toggleNav()"
    ></i>
    <div id="menu" class="menu" #menu [ngClass]="{ open: openOrClose === 2 }">
      <i
        class="fa fa-times"
        id="menu-close"
        #menuClose
        (click)="closeNav()"
      ></i>
      <div class="container">
        <div class="image my-2">
          <a href="#"><img src="assets/images/author-image.jpeg" alt="" /></a>
        </div>
        <div class="author-content my-2">
          <h4>Ahmed Khalil</h4>
          <span>Software Developer</span>
        </div>
        <div class="social-network my-2">
          <ul class="soial-icons">
            <li>
              <a href="https://github.com/ahmedkhalil91518"
                ><i class="fa fa-github"></i
              ></a>
            </li>
            <li>
              <a href="https://www.hackerrank.com/ahmedkhalil91518"
                ><i class="fab fa-hackerrank"></i
              ></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/ahmed-khalil-027687212"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a href="https://www.facebook.com/profile.php?id=100066770663795"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/AhmedKh69856643"
                ><i class="fa fa-twitter"></i
              ></a>
            </li>
          </ul>
        </div>
        <nav class="main-nav my-4" role="navigation">
          <ul class="main-menu">
            <li><a href="#section1" (click)="scroll(target1)">About Me</a></li>
            <li>
              <a href="#section2" (click)="scroll(target2)">What I’m good at</a>
            </li>
            <li><a href="#section3" (click)="scroll(target3)">My Work</a></li>
          </ul>
        </nav>

        <div class="copyright-text">
          <p>Copyright {{ date }}</p>
        </div>
      </div>
    </div>
  </div>

  <section class="section about-me" data-section="section1" #target1>
    <div class="container">
      <div class="section-heading">
        <h2>About Me</h2>
        <div class="line-dec"></div>
        <span
          >Hi, welcome to my webpage, I'm Ahmed Khalil, a software developer who
          lives in alexandria egypt, my main goal is to grow as a developer and
          learn something new everyday</span
        >
      </div>
      <div class="left-image-post">
        <div class="row">
          <div class="col-md-12">
            <div class="right-text">
              <p>
                I graduated from abu qir high institute with a bachelor in
                management information systems with a good grade in 2014, i
                started studying software development in 2018-9-20, thats over
                {{ duration() }} years now, i have more than 1 year of experience as a
                front end developer at pharous.com.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section my-services" data-section="section2" #target2>
    <div class="container">
      <div class="section-heading">
        <h2>What I’m good at?</h2>
        <div class="line-dec"></div>
        <span
          >i studied the mean stack extensively, i also studied sequelize and
          mongoose, so i can build applications using mongodb or mysql, i also
          experimented with laravel, asp.net and python</span
        >
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="service-item">
            <div class="d-flex flex-row my-2">
              <i
                class="fab fa-html5 fa-3x mx-2"
                style="color: darkgoldenrod"
              ></i>
              <i
                class="fab fa-css3-alt fa-3x mx-2"
                style="color: darkgoldenrod"
              ></i>
              <i class="fab fa-js fa-3x mx-2" style="color: darkgoldenrod"></i>
            </div>
            <h4>HTML, CSS &amp; JavaScript</h4>
          </div>
        </div>
        <div class="col-md-6">
          <div class="service-item">
            <div class="d-flex flex-row my-2">
              <i class="fab fa-git fa-3x mx-2" style="color: darkgoldenrod"></i>
              <i
                class="fab fa-sass fa-3x mx-2"
                style="color: darkgoldenrod"
              ></i>
            </div>
            <h4>Git, Sass &amp; jQuery</h4>
          </div>
        </div>
        <div class="col-md-6">
          <div class="service-item">
            <div class="d-flex flex-row my-2">
              <i
                class="fab fa-angular fa-3x mx-2"
                style="color: darkgoldenrod"
              ></i>
            </div>
            <h4>Typescript, Angular &amp; RxJS</h4>
          </div>
        </div>
        <div class="col-md-6">
          <div class="service-item">
            <div class="d-flex flex-row my-2">
              <i
                class="fab fa-node-js fa-3x mx-2"
                style="color: darkgoldenrod"
              ></i>
            </div>
            <h4>Node.js, Express.js, MongoDB &amp; MySQL</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section my-work" data-section="section3" #target3>
    <div class="container">
      <div class="section-heading">
        <h2>My Work</h2>
        <div class="line-dec"></div>
        <span>these are my pinned github repos </span>
      </div>
      <div class="row" *ngIf="data">
        <div
          class="col-md-6"
          *ngFor="let x of data.data.user.pinnedItems.edges"
        >
          <div class="service-item">
            <h4>
              <a [href]="x.node.url" target="_blank">{{ x.node.name }}</a>
            </h4>
            <p>{{ x.node.description }}</p>
            <span
              *ngFor="let y of x.node.repositoryTopics.nodes"
              class="badge bg-secondary mx-2"
              >{{ y.topic.name }}</span
            >
            <a
              *ngIf="x.node.homepageUrl"
              [href]="x.node.homepageUrl"
              class="badge bg-secondary d-block m-2"
              target="_blank"
              >link to the website</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
